*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color1: #aa80ff;
    --background-color2: #66cc99;
    --background-color3: #cc6699;
    --background-color4: #538cc6;

    --window-color1: #bb99ff;
    --window-color2: #8cd9b3;
    --window-color3: #d98cb3;
    --window-color4: #8cb3d9;

}
body{
    height: 100vh;
    overflow: hidden;
    border: 1px solid #000;
}

.background-buildings, .foreground-buildings{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    position: absolute;
    top: 0;
}
.building-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.window-wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* background-buildings -'bb' stand for "background building"*/

.bb1{
    width: 10%;
    height: 80%;
    /* border: 1px solid #000; */

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.bb1a{
    width: 70%;

}
.bb1b{
    width: 80%;
}
.bb1c{
    width: 90%;

}
.bb1d{
    width: 100%;
    height: 100%;
    background: linear-gradient(
        var(--background-color1) 50%,
        var(--window-color1)
    );
}
.bb1-window{
    height: 15%;
    background: linear-gradient(
        var(--background-color1),
        var(--window-color1)
    );
}


.bb2{
    width: 10%;
    height: 60%;
    /* border: 1px solid #000;
    background-color: var(--background-color2); */
}
.bb2a{
    /* width: 5vh; */
    /* height: 5vh; */
    /* border-top: 5vw solid var(--window-color2); */
    border-bottom: 7vh solid var(--window-color2);
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
}
.bb2b{
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        var(--background-color2) 0%,
        var(--background-color2) 6%,
        var(--window-color2) 6%,
        var(--window-color2) 9%
    );
}


.bb3{
    width: 10%;
    height: 65%;
    border: 1px solid #000;
    background: repeating-linear-gradient(
        90deg,
        var(--background-color3) 0%,
        var(--background-color3) 7.5%,
        var(--window-color3) 15%
    );
}


.bb4{
    width: 10%;
    height: 70%;
    /* border: 1px solid #000; */
    /* background-color: var(--background-color4); */
}

.bb4a{
    width: 3%;
    height: 10%;
    background-color: var(--background-color4);

}
.bb4b{
    width: 50%;
    height: 5%;
    background-color: var(--background-color4);
}
.bb4c{
    width: 100%;
    height: 85%;
    background-color: var(--background-color4);
}
.bb4-window{
    width: 15%;
    height: 90%;
    border: 1px solid #000;
    background-color: var(--window-color4);
}


/* foreground-buildings - "fb" stand for "foreground-building"*/
.fb1{
    width: 10%;
    height: 60%;
    /* border: 1px solid #000; */
    /* background-color: var(--background-color4); */
}
.fb1a{
    border-bottom: 8vh solid var(--window-color4);
    border-right: 2vw solid transparent;
    border-left: 2vw solid transparent;
}
.fb1b{
    width: 55%;
    height: 15%;
    background-color: var(--window-color4);
}
.fb1c{
    width: 100%;
    height: 80%;
    background: repeating-linear-gradient(
        90deg,
        var(--background-color4),
        var(--background-color4) 10%,
        transparent 10%,
        transparent 15%
    ),
    repeating-linear-gradient(
        var(--background-color4) 0%,
        var(--background-color4) 10%,
        var(--window-color4) 10%,
        var(--window-color4) 90%
    )
}


.fb2{
    width: 10%;
    height: 35%;
    /* border: 1px solid #000;
    background-color: var(--background-color1); */
}
.fb2a{
    width: 100%;
    border-bottom: 10vh solid var(--background-color3);
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
}
.fb2b{
    width: 100%;
    height: 75%;
    background-color: var(--background-color3);
}
.fb2-window{
    width: 22%;
    height: 100%;
    background-color: var(--window-color3);
}


.fb3{
    width: 10%;
    height: 40%;
    /* border: 1px solid #000;
    background-color: var(--background-color3); */
}
.fb3a{
    width: 80%;
    height: 15%;
    background-color: var(--background-color3);
}
.fb3b{
    width: 100%;
    height: 35%;
    background-color: var(--background-color3);
}
.fb3-window{
    width: 25%;
    height: 80%;
    background-color: var(--window-color1);
}

.fb4{
    width: 8%;
    height: 55%;
    /* border: 1px solid #000; */
    /* background-color: var(--background-color1); */

    position: relative;
    left: 10%;
}
.fb4a{
    border-top: 5vh solid transparent;
    border-left: 8vw solid var(--background-color1);
}
.fb4b{
    width: 100%;
    height: 100%;
    background-color: var(--background-color1);
    
    display: flex;
    flex-wrap: wrap;
}
.fb4-window{
    width: 30%;
    height: 10%;
    background-color: var(--window-color1);
    border-radius: 50%;
    
    margin: 10%;
}

.fb5{
    width: 10%;
    height: 33%;
    border: 1px solid #000;
    /* background-color: var(--background-color2); */
    background: repeating-linear-gradient(
        var(--background-color2) 0%,
        var(--background-color2) 5%,
        transparent 5%,
        transparent 15%
    ),
    repeating-linear-gradient(
        90deg,
        var(--background-color2) 0%,
        var(--background-color2) 10%,
        var(--window-color2) 10%,
        var(--window-color2) 45%
    );

    position: relative;
    right: 10%;
}
.fb6{
    width: 9%;
    height: 38%;
    border: 1px solid #000;
    /* background-color: var(--background-color3); */
    background: repeating-linear-gradient(
        90deg,
        var(--background-color3) 0%,
        var(--background-color3) 10%,
        transparent 10%,
        transparent 30%
    ),
    repeating-linear-gradient(
        var(--background-color3) 0%,
        var(--background-color3) 10%,
        var(--window-color3) 10%,
        var(--window-color3) 30%
    );

}

.sky{
    background: radial-gradient(
        circle closest-corner at 15% 15%,
        #ffcf33 0%,
        #ffcf33 20%,
        #ffff66 21%,
        #bbeeff 100%
    );
    
}
@media (max-width:1000px){
    :root{
        --building-color1: #000;
        --building-color2: #000;
        --building-color3: #000;
        --building-color4: #000;
      }
    .sky{
        background: radial-gradient(
            circle closest-corner at 15% 15%,
            #ccc 0%,
            #ccc 20%,
            #445 21%,
            #223 100%
        );
        
    }
}
