
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Baskervville', sans-serif;
    font-size: 1rem;
    line-height: 1.5;

    background-color: rgb(20, 30, 40);
    color: linen;

    display: grid;
    grid-template-columns: 
        minmax(2rem, 1fr)
        minmax(min-content, 95rem)
        minmax(2rem, 1fr);
    grid-gap: 3rem;

}

img{
    width: 100%;
    object-fit: cover;
}

h1{
    font-family: 'Anton', sans-serif;
}
h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: linen;
}
hr{
    color: rgba(120, 120, 120, 0.5);
}



/* heading */
.heading{
    grid-column: 2/3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
}
.title{
    font-size: 8rem;
    color: orangered;
    text-align: center;
}
.sub-title{
    font-size: 2.5rem;
    color: orangered;
    text-align: center;
}
#hero{
    grid-column: 1/-1;
    position: relative;
}

/* author */
.author{
    grid-column:1/2;

    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

.author-name a:hover{
    background-color: #306203;
}
.publish-date{
    color: rgba(255, 255, 255, 0.5);
}

/* social-icons */
.social-icons{
    grid-column: 2/3;
    font-size: 3rem;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: auto;
}


/* text */
.text{
    grid-column: 2/3;

    column-width: 20rem;
    font-size: 1.8rem;
    text-align: left;
    letter-spacing: 0.5px;
}
.first-paragraph::first-letter{
    color: orangered;
    font-size: 6rem;
    
    float: left;
    margin-right: 1rem;
}
.quote{
    color: #00beef;
    font-size: 2.4rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.quote::after,
.quote::before{
    content: '" ';
}

/* text-with-images */
.text-with-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem; /* row disable, because row isn't live*/
}


.brief-history{
    grid-column: 1/2;
}
.list-title,
.list-subtitle{
    color: #00beef;
    margin-top: 15px;
}
.list{
    list-style-type: none;
}

.image-wrapper{
    grid-column: 2/4;

    display: grid;
    grid-template-columns: 1fr 1fr;    
    grid-gap: 15px;
}
.img-1,
.img-3{
    grid-column: 1/-1;
}

.image-quote > .quote{
    font-size: 2.2rem;
}

