
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-background : rgb(221, 255, 187);
    --color-background-container: rgb(255, 255, 255);

}

body{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 1);
    line-height: 1.5rem;
}
body::after{
    content: "";
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-background);

    background-image: 
        linear-gradient(
            120deg,
            rgb(199, 233, 176),
            rgb(179, 201, 156)
        ),
        url(//05_Survey_Form/img/survey-form-background.jpeg);
    z-index: -1;

}

.container{
    border: 2px solid black;
    background-color: var(--color-background-container);
    margin: 3rem auto;
    padding: 1rem;

    width: 350px;
}
p{
    font-size: inherit;
    font-weight: inherit;

    display: flex;
    justify-content: space-between;
    margin: 0;
}
h1{
    font-size: 2.53rem;
    padding-bottom: 0.7rem;
    margin-left: -2px;
}

/* container */
.bold{
    font-weight: 900;
}
.divider{
    border-bottom: 1px solid black;
}

.large, .medium{
    background-color: black;
    border: 0;
}
.large{
    height: 10px;
}
.medium{
    height: 5px;
}


/* daily-value */

/* calories-info */
.calories-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.left-container p{
    font-size: 2rem;
    font-weight: 700;

    margin: 7px -2px;
}
.calories-info span{
    font-size: 2.4rem;
    font-weight: 700;

    margin: 10px -2px;
}
.small-text{
    font-size: 1rem;
}

.right{
    display: flex;
    justify-content: flex-end;
}
.indent{
    margin-left: 1em;
}
.double-indent{
    margin-left: 2em;
}


/* footer */
.note{
    font-size: 0.6rem;
    line-height: 1rem;
    margin-top: 0.5rem;
} 